@import '/styles/main.scss';

.topic-wrapper {
  display: flex;

  gap: 20px;

  padding: 0 80px;

  overflow: hidden;

  &:hover {
    background-color: #000;
    color: #fff;
  }

  @media (hover: none) {
    &:hover {
      background-color: #fcfaf8;
      color: #000;
    }
  }

  @include xxl {
    padding: 0 60px;
  }

  @include xl {
    &.select {
      background-color: #000;
      color: #fff;
    }

    flex-direction: column;

    gap: 0px;

    border-top: 1px dashed;
    padding: 9px 35px 10px;
  }

  @include m {
    padding: 9px 20px 10px;
  }
}

.title {
  display: flex;
  align-items: center;

  font-family: $font-title;
  font-size: 110px;
  font-weight: 400;
  letter-spacing: -1px;

  line-height: 90px;

  position: relative;
  top: 7px;

  @include xl {
    font-size: 100px;

    line-height: 90px;
  }

  @include l {
    font-size: 70px;

    line-height: 60px;
  }

  @include m {
    font-size: 40px;

    line-height: 40px;
  }
}

.topic-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.category {
  font-family: $font-title;
  font-size: 22px;
  font-weight: 400;

  text-transform: uppercase;

  @include xl {
    font-size: 20px;
  }

  @include l {
    font-size: 18px;
  }

  @include m {
    font-size: 14px;
  }
}

.description {
  font-family: $font-copyright;
  font-size: 18px;
  font-weight: 100;

  @include l {
    font-size: 16px;
  }

  @include m {
    font-size: 12px;
  }
}

.border {
  flex-grow: 1;
  border-bottom: 1px dashed #6e6e6e;
  margin: 0 20px;

  position: relative;
  top: -12px;

  @include xl {
    display: none;
  }
}
