@import '/styles/main.scss';

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 50px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);

  @include xl {
    padding: 25px 40px;
  }
}

.home-title {
  font-family: $font-portfolio;
  font-size: 25px;

  &:hover {
    transition: 0.1s;
    transform: scale(1.02);
  }

  @include xl {
    font-size: 22px;
  }
}
