@import '/styles/main.scss';

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 25px 50px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);

  overflow: hidden;

  @include xl {
    padding: 25px 30px;
  }

  @include m {
    padding: 10px 20px;
  }
}

.home-title {
  position: relative;

  font-family: $font-portfolio;
  font-size: 25px;
  transition: transform 1.5s ease;

  &.disable {
    @include m {
      transform: translateY(-35px);
    }
  }

  &:hover {
    transition: 0.1s;
    transform: scale(1.02);
  }

  @media (hover: none) {
    &:hover {
      transform: none;
    }
  }

  @include xl {
    font-size: 22px;
  }

  @include m {
    font-size: 16px;
  }
}

.nav-menu {
  @include m {
    display: none;
  }
}

.nav-menu-mobile {
  display: none;

  @include m {
    display: block;

    position: absolute;

    top: -70px;
    left: 20px;

    transition: transform 1.5s ease;

    &.able {
      transform: translateY(87px);
    }
  }
}

.hamburger-lottie {
  display: none;

  background-color: #fcfaf8;

  width: 30px;
  height: 30px;

  @include m {
    display: block;
  }
}
