@import '/styles/main.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 100px;

  @include l {
    gap: 60px;
  }

  @include m {
    gap: 60px;
  }
}

.description-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 1000px;

  padding: 20px;

  @include l {
    width: 768px;
  }

  @include m {
    width: 100%;
    max-width: 500px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  height: 350px;

  padding: 0 20px;

  @include m {
    height: 200px;
  }
}

.title-word {
  text-transform: uppercase;

  font-family: $font-title;
  font-size: 90px;
  line-height: 90px;
  font-weight: 800;

  @include l {
    font-size: 80px;
  }

  @include m {
    font-size: 50px;
    line-height: 50px;
  }
}

.category-summary-container {
  display: flex;
  flex-direction: column;

  gap: 10px;

  width: 700px;
  height: 120px;

  @include m {
    width: 100%;
    max-width: 500px;
    height: 100px;
  }
}

.category {
  font-family: $font-title;
  font-size: 22px;

  border-bottom: 1px solid #b7b7b7;

  @include m {
    font-size: 20px;
  }
}

.summary {
  font-size: 22px;
  font-family: $font-copyright;

  @include m {
    font-size: 11px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 500px;

  @include m {
    width: 100%;
    max-width: 500px;
  }
}

.content-word {
  font-size: 18px;
  font-family: $font-main;
  font-weight: 100;

  text-align: justify;

  @include m {
    font-size: 13px;
  }
}

.circle-lottie {
  width: 450px;

  z-index: -999;

  position: absolute;
  left: -190px;

  @include xl {
    width: 400px;
  }

  @include l {
    width: 350px;
  }

  @include m {
    width: 200px;

    left: -90px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1000px;

  padding: 0 20px;
  margin-bottom: 20px;

  p {
    font-size: 16px;
    font-family: $font-copyright;
    font-weight: 300;

    @include m {
      font-size: 14px;
    }
  }

  .year {
    font-weight: 300;
  }

  @include l {
    width: 768px;
  }

  @include m {
    flex-direction: column;
    gap: 5px;

    width: 100%;
    max-width: 500px;

    margin-top: 30px;
  }
}
