@import '/styles/main.scss';
.button-container {
  position: fixed;
  bottom: 30px;
  right: 100px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;

  padding: 8px;

  border: 1px solid #363636;
  border-radius: 999px;

  rotate: -90deg;

  width: 40px;
  height: 40px;
}
