@import '/styles/main.scss';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1200px;
  height: 100%;

  @include xl {
    width: 900px;
  }

  @include l {
    width: 700px;
  }
}

.modal-image {
  max-width: 1000px;
  max-height: 800px;

  width: auto;
  height: auto;

  border-radius: 5px;

  object-fit: contain;
  aspect-ratio: auto;

  @include xl {
    max-width: 750px;
    max-height: 700px;
  }

  @include l {
    max-width: 580px;
    max-height: 700px;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 999px;
  width: 40px;
  height: 40px;

  &:hover .prev-button {
    transform: translateX(-2px);
    transition: transform 0.3s ease;
  }

  &:hover .next-button {
    transform: translateX(2px);
    transition: transform 0.3s ease;
  }

  @include xl {
    width: 35px;
    height: 35px;
  }
}

.prev-button {
  position: relative;
  right: 2px;

  width: 25px;
  height: 25px;

  @include xl {
    width: 20px;
    height: 20px;
  }
}

.next-button {
  position: relative;
  left: 2px;

  width: 25px;
  height: 25px;

  @include xl {
    width: 20px;
    height: 20px;
  }
}
