@import '/styles/main.scss';

.images-container {
  display: flex;
  flex-direction: column;

  gap: 30px;

  width: 390px;

  opacity: 1;
}
.image-wrapper {
  position: relative; // 자식 요소의 절대 위치를 위한 설정
  overflow: hidden; // 이미지가 wrapper를 넘어가지 않도록 설정

  width: 390px; // 가로 고정
  height: 570px; // 세로 고정

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); // 검은색 배경과 투명도 설정
    z-index: 1; // 이미지 위에 위치하도록 설정
    transition: background-color 1s ease; // 배경색 전환을 부드럽게 하기 위한 설정
  }

  .image {
    filter: blur(5px);
    position: relative; // 이미지가 가상 요소 위에 위치하도록 설정
    z-index: 0; // 가상 요소 아래에 위치하도록 설정
    width: 100%; // 가로를 wrapper에 맞춤
    height: 100%; // 세로를 wrapper에 맞춤
    object-fit: cover; // 이미지가 wrapper에 꽉 차도록 설정
  }

  &:hover {
    .image {
      filter: none; // 호버 시 블러 제거
    }

    &::after {
      background-color: rgba(0, 0, 0, 0); // 배경 투명도 제거
    }
  }
}

.image-info {
  position: absolute;
  top: 50%; // 세로 중앙
  left: 50%; // 가로 중앙
  transform: translate(-50%, -50%); // 중앙 정렬을 위한 이동
  text-align: center;

  width: 100%;

  color: #fff;
  font-size: 30px;

  z-index: 2;
  opacity: 1; // 기본적으로 보이도록 설정
  transition: opacity 0.2s ease; // 부드러운 전환 효과 추가
}

.image-wrapper:hover .image-info {
  opacity: 0; // 호버 시 숨기기
  pointer-events: none; // 클릭 이벤트를 방지
}
