@import '/styles/main.scss';

.contact-wrapper {
  display: flex;
  justify-content: center;
}

.contact-container {
  display: flex;
  flex-direction: column;

  margin: 30px 100px;

  width: 1800px;
  height: 874px;
}

.contact-main {
  display: flex;
  justify-content: center;
  gap: 100px;

  height: 834px;
}

.css-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contact-title {
  font-size: 120px;
  font-weight: 200;

  position: relative;
  bottom: 170px;
  left: 115px;
}

.contact-information {
  display: flex;
  flex-direction: column;

  gap: 210px;
}

.information-container {
  > h2 {
    margin-bottom: 10px;
  }
}

.icon-wrapper {
  display: flex;
  gap: 20px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;

  width: 50px;
  height: 50px;

  border-radius: 999px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
}

.form-section {
  display: flex;
  align-items: flex-end;
}
