@import '/styles/main.scss';

.contact-wrapper {
  display: flex;
  justify-content: center;
}

.contact-container {
  display: flex;
  flex-direction: column;

  margin: 30px 100px;

  width: 1800px;
  height: 874px;
}

.contact-main {
  display: flex;

  gap: 60px;

  margin-top: 50px;

  height: 834px;
}

.contact-title {
  font-size: 100px;
  font-weight: 200;
}

// .contact-filed {
//   display: flex;
// }
