@import '/styles/main.scss';

.home-wrapper {
  display: flex;
  justify-content: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 60px 60px;

  width: 1800px;
  height: 814px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.sub-title {
  display: inline-block;

  position: relative;
  top: 125px;
  left: 79px;

  font-size: 80px;
  font-weight: 800;
}

.title {
  font-size: 170px;
  font-weight: 100;
}

.Tertiary-title {
  display: inline-block;

  position: relative;
  bottom: 10px;
  left: 800px;

  font-size: 40px;
}

.home-image-container {
  display: flex;

  position: absolute;
  top: 60px;

  z-index: -2;

  filter: brightness(0.5);
}

.home-image-1 {
  position: relative;
  top: 15px;
  left: 80px;

  transform: rotate(-10deg);
  box-shadow: -1px -1px 10px rgba(69, 69, 69, 0.5);
}

.home-image-3 {
  position: relative;
  top: 15px;
  right: 80px;

  transform: rotate(10deg);
  box-shadow: 1px -1px 10px rgba(69, 69, 69, 0.5);

  z-index: -1;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-center {
  text-align: center;
}
