@import '/styles/main.scss';

.home-css-wrapper {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-wrapper {
  height: 100vh;
  max-height: 1200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: scroll;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 25px 50px;

  height: 30px;
}

.head-title {
  display: flex;

  gap: 20px;

  p {
    font-family: 'Major Mono Display';
    font-size: 20px;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.home-title-wrapper {
  display: flex;
  justify-content: center;

  position: relative;
}

.home-title {
  font-family: 'Cormorant Garamond';
  font-size: 120px;
  font-weight: 500;
  font-weight: 200;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fcfaf800;
  font-size: 120px;
  font-weight: 500;

  line-height: 110px;
  letter-spacing: -8px;

  overflow: hidden;

  width: 100%;

  &.menu {
    font-family: 'Host Grotesk';
    font-weight: 400;

    &:hover {
      transition: 0.6s;
      font-weight: 500;
    }

    &.gallery {
      pointer-events: none;
      opacity: 0.2;
    }
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 550px;
}

.menu-wrapper {
  display: flex;
  justify-content: center;

  position: relative;

  width: 100%;
}

.circle {
  position: absolute;
  top: 27px;

  width: 400px;
  height: 90px;

  z-index: 2;
}

.line-lottie {
  position: absolute;
  width: 600px;

  z-index: -1;

  top: 90px;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 30px;

  padding: 30px 50px;
}
