@import '/styles/main.scss';

.navMenu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 350px;
}

.menu {
  display: flex;
  justify-content: center;

  font-family: 'Major Mono Display';
  font-size: 18px;

  width: 110px;

  &:hover {
    font-size: 20px;
  }
}

.highlight {
  &:hover {
    font-size: 18px;
  }
}

.line-lottie {
  position: absolute;
  top: 38px;

  width: 120px;
  height: auto;
}
