@import '/styles/main.scss';

.navMenu-container {
  display: flex;
  align-items: center;

  position: relative;

  gap: 30px;

  a {
    font-family: 'Major Mono Display';
    font-size: 18px;
  }
}
