@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Major+Mono+Display&family=Manuale:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$font-portfolio: 'Major Mono Display';
$font-main: 'Manuale', sans-serif;
$font-title: 'Bebas Neue', sans-serif;
$font-copyright: 'Raleway', sans-serif;
